<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../partials/layer/head.ejs') %>
  </head>
  <body class="frontBody">
    <div class="web-name-navbar">
      <div class="web-name">GlobalFriend.com</div>
    </div>

    <div class="container">
      <form action="">
        <div class="signIn-title">
          Sign In
        </div>
        <label></label>
        <input class="auth-all" type="text" id="userName" name="" placeholder="Username" required autocomplete="off">

        <label></label>
        <input type="password" id="pass" name="" placeholder="Password" required>
          <div class="submition-btn">
            <input class="signIn-submit" type="submit" value="Log In">
            <a class="signUp-submit" href="/auth/signUp">Sign Up</a>
          </div>
        </div>
      </form>

      </div>

  </body>
</html>
