<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../partials/layer/head.ejs') %>
  </head>
  <body class="frontBody">
    <div class="web-name-navbar">
      <div class="web-name">GlobalFriend.com</div>
    </div>
      <div class="auth-section">
        <div class="left">
          <input class="auth-all" type="text" name="username" placeholder="Username" />
          <input type="password" name="password" placeholder="Password"/>
          <input class="signIn-submit" type="submit" name="signin_submit" value="Sign in" />
           <div class="or">OR</div>
          <div class="signUp">
          <a href="/auth/signUp"><input class="signUp-submit" type="submit" name="signup_submit" value="Sign up" /></a>
        </div>
        </div>
        <div class="right">
          <div class="message">
            <p>Join and Meet:</P>
              <li>local tour guides</li>
              <li>adeventurers</li>
              <li>The curious</li>
              <li>Get inspiration</li>
              <div class="text-message">
                <p>Share your knowledge</p>
                <p>Join the community today and get the most out of your adventures.</p>
              </div>
          </div>
        </div>
      </div>

      </div>

  </body>
</html>
