<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../partials/layer/head.ejs') %>
  </head>
  <body>
    <div class="mainnav-bar">
      <a class="companyName" href="#">GlobalFriend.com</a>
      <a class="home" href="/">Home</a>
    </div>
  </body>
</html>
