<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <%- include('partials/layer/head.ejs') %>
  </head>
  <body class="main-body">

    <div class="nav-bar">
      <div class="mainlinks">
        <a href="/">GlobalFriend.com</a>
        <input class="homeNav" type="text" name="" value="" placeholder="filter Tosses... e.g city of Edmonds...">
      </div>
    </div>

    <div class="main-grid-view">

      <div class="homelinks">
        <div class="sideLinks">
          <a class="homelink" href="/">Home</a>
          <a href="tossReq">Toss</a>
          <a href="#">Sign Out</a>
        </div>
      </div>


      <div class="view-toss-main">
        <div class="top-toss">
           Toss Requests:
          <!-- The Modal -->
            <button data-modal-target id="myBtn">Toss Request</button>

            <div id="myModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                  <span data-modal-close class="close">&times;</span>
                  <p>Some text in the Modal..</p>
                </div>

              </div>
            </div>
        <div class="tosses">
          this is where we view toss requests
          By applying the shadows to pseudo elements which you then manipulate,
           you can get some pretty fancy 3D looking box shadows:
           comments are printed right here
           16a085 hex color red value is 22, green value
           is 160 and the blue value of its RGB is 133.
           Cylindrical-coordinate representations
           (also known as HSL) of color ...Notice we used position: fixed;.
           The point of this is that a user could be s
           crolled down the page, trigger a modal, and
           have the modal be just as centered-and-visible a
           s it would be if they weren’t scrolled.
           By applying the shadows to pseudo elements which you then manipulate,
            you can get some pretty fancy 3D looking box shadows:
            comments are printed right here
            16a085 hex color red value is 22, green value
            is 160 and the blue value of its RGB is 133.
            Cylindrical-coordinate representations
            (also known as HSL) of color ...Notice we used position: fixed;.
            The point of this is that a user could be s
            crolled down the page, trigger a modal, and
            have the modal be just as centered-and-visible a
            s it would be if they weren’t scrolled.
            By applying the shadows to pseudo elements which you then manipulate,
             you can get some pretty fancy 3D looking box shadows:
             comments are printed right here
             16a085 hex color red value is 22, green value
             is 160 and the blue value of its RGB is 133.
             Cylindrical-coordinate representations
             (also known as HSL) of color ...Notice we used position: fixed;.
             The point of this is that a user could be s
             crolled down the page, trigger a modal, and
             have the modal be just as centered-and-visible a
             s it would be if they weren’t scrolled.
             By applying the shadows to pseudo elements which you then manipulate,
              you can get some pretty fancy 3D looking box shadows:
              comments are printed right here
              16a085 hex color red value is 22, green value
              is 160 and the blue value of its RGB is 133.
              Cylindrical-coordinate representations
              (also known as HSL) of color ...Notice we used position: fixed;.
              The point of this is that a user could be s
              crolled down the page, trigger a modal, and
              have the modal be just as centered-and-visible a
              s it would be if they weren’t scrolled.
              By applying the shadows to pseudo elements which you then manipulate,
               you can get some pretty fancy 3D looking box shadows:
               comments are printed right here
               16a085 hex color red value is 22, green value
               is 160 and the blue value of its RGB is 133.
               Cylindrical-coordinate representations
               (also known as HSL) of color ...Notice we used position: fixed;.
               The point of this is that a user could be s
               crolled down the page, trigger a modal, and
               have the modal be just as centered-and-visible a
               s it would be if they weren’t scrolled.
               By applying the shadows to pseudo elements which you then manipulate,
                you can get some pretty fancy 3D looking box shadows:
                comments are printed right here
                16a085 hex color red value is 22, green value
                is 160 and the blue value of its RGB is 133.
                Cylindrical-coordinate representations
                (also known as HSL) of color ...Notice we used position: fixed;.
                The point of this is that a user could be s
                crolled down the page, trigger a modal, and
                have the modal be just as centered-and-visible a
                s it would be if they weren’t scrolled.
                By applying the shadows to pseudo elements which you then manipulate,
                 you can get some pretty fancy 3D looking box shadows:
                 comments are printed right here
                 16a085 hex color red value is 22, green value
                 is 160 and the blue value of its RGB is 133.
                 Cylindrical-coordinate representations
                 (also known as HSL) of color ...Notice we used position: fixed;.
                 The point of this is that a user could be s
                 crolled down the page, trigger a modal, and
                 have the modal be just as centered-and-visible a
                 s it would be if they weren’t scrolled.
                 By applying the shadows to pseudo elements which you then manipulate,
                  you can get some pretty fancy 3D looking box shadows:
                  comments are printed right here
                  16a085 hex color red value is 22, green value
                  is 160 and the blue value of its RGB is 133.
                  Cylindrical-coordinate representations
                  (also known as HSL) of color ...Notice we used position: fixed;.
                  The point of this is that a user could be s
                  crolled down the page, trigger a modal, and
                  have the modal be just as centered-and-visible a
                  s it would be if they weren’t scrolled.
        </div>
      </div>
      <div class="travelComps">
        <div class="travelC-containers">
          <p>Get inspired. </p>
          <p>Check where others are vacationing</p>
          here I am just gonna show inputed results
        </div>
      </div>
  </div>
  </body>
</html>
