<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <%- include('partials/layer/head.ejs') %>
  </head>
  <body class="main-body">

    <div class="nav-bar">
      <div class="mainlinks">
        <a href="/">GlobalFriend.com</a>
        <input class="homeNav" type="text" name=""placeholder="Search">
      </div>
    </div>

    <div class="main-grid-view">

      <div class="homelinks">
        <div class="sideLinks">
          <a class="homelink" href="/">Home</a>
          <a href="tossReq">Toss</a>
          <a href="#">Sign Out</a>
        </div>
      </div>


      <div class="view-toss-main">
        <div class="top-toss">
           Toss Requests:
          <!-- The Modal -->
            <button data-modal-target ="modal" id="myBtn">Toss Request</button>

            <div id="myModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                  <span data-modal-close class="close">&times;</span>
                  <p>Some text in the Modal..</p>
                </div>

              </div>
            </div>
        <div class="tosses">

        </div>
      </div>
      <div class="travelComps">
        <div class="travelC-containers">
          <p>Get inspired. </p>
          <p>Check where others are vacationing</p>
          here I am just gonna show inputed results
        </div>
      </div>
  </div>
  </body>
</html>
