<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <%- include('partials/layer/head.ejs') %>
  </head>
  <body>
    <div class="main-body">
      <div class="nav-bar">
        Nav bar here
      </div>
        <div class="images-clips-grid">There will be a video here/pic</div>
        <div class="toss-request">
          Of course, the toss request
        </div>
    </div>



  </body>
</html>
