<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  <%- include('partials/layer/head.ejs') %>
  </head>
  <body >
      <div class="mainnav-bar">
        <div class="web-name-cover">
          <a class="companyName" href="#">GlobalFriend.com</a>
          <!-- <a class="home" href="#">Log out</a> -->
        </div>
      </div>
        <div class="sidenav-res">
            <button  data-modal-target="#commentsbtn" class="comments" >Comments</button>
            <button   data-modal-target="#eventsModal"  class="events" >Events</button>
            <button  data-modal-target="#dealsModal" class="deals" >Deals</button>
            <button data-modal-target="#travelModal" class="travelcompanions" >Travel Companions</button>
        </div>
      <div class="view">
       <div class="side-viewbar">
         <div class="sidenav">
           <button  data-modal-target="#commentsbtn" class="comments" >Comments</button>
           <button   data-modal-target="#eventsModal" class="events" >Events</button>
           <button  data-modal-target="#dealsModal" class="deals" >Deals</button>
           <button data-modal-target="#travelModal" class="travelcompanions" >Travel Companions</button>
         </div>
           <div class="sideView">
             <div class="comment-header">
               Comments and suggetions
             </div>
             <div class="comment-main-body">
               <div class="user">
                 @Edmond
               </div>
               <div class="comments-prints">
                 comments come right here
                 comments are printed right here
                 comments come right here
                 comments are printed right here
               </div>
               <div class="user">
                 @Edmond
               </div>
               <div class="comments-prints">
                 comments come right here
                 comments are printed right here
                 comments come right here
                 comments are printed right here
               </div>
               <div class="user">
                 @Edmond
               </div>
               <div class="comments-prints">
                 comments come right here
                 comments are printed right here
                 comments come right here
                 comments are printed right here
                 comments come right here
                 comments are printed right here
                 comments come right here
                 comments are printed right here
                 comments come right here
                 comments are printed right here
                 comments come right here
                 comments are printed right here
               </div>
               <div class="user">
                 @Edmond
               </div>
               <div class="comments-prints">
                 comments come right here
                 comments are printed right here
                 comments come right here
                 comments are printed right here
                 comments come right here
                 comments are printed right here
                 comments come right here
                 comments are printed right here
                 comments come right here
                 comments are printed right here
                 comments come right here
                 comments are printed right here
                 comments come right here
                 comments are printed right here
                 comments come right here
                 comments are printed right here
               </div>
             </div>
             <div class="inputs-section">
               <textarea class="comments-input" name="name" rows="2" cols="15" placeholder="Type comment here..."></textarea>
               <!-- <input class="comment-btn-submit" type="button" name="button"><i class="fal fa-paper-plane"></i></input> -->
               <button class="comment-btn-submit" type="button" name="button">send</button>

             </div>
               <div id="eventsModal" data-modals class="modal-content-events">
                 <div class="events-header">
                   <p>Events in the area</p>
                   <button data-close-button class="close-button">&times;</button>
                    </div>
                   <div class="emodal-content">
                     events modal body
                   </div>
               </div>

               <div id="dealsModal" class="modal-content-deals">
                 <div class="deals-header">
                   <p>Deals in the area</p>
                   <button data-close-button class="close-button">&times;</button>
                 </div>
                 <div class="deals-body">
                   This is the deals modal main body
                 </div>
               </div>

               <div id="travelModal" class="modal-content-travel">
                 <div class="travel-header">
                   <p>Where is your next vacation? </p>
                  <button data-close-button class="close-button">&times;</button>
                 </div>
                 <div class="travelModal-body">
                   This is the main body for travel modal
                 </div>
               </div>
         </div>
      </div>
      <div class="main-view">
        <div class="redirectedToss">
          Tossed Request:
          <div class="theReq">
            What is the best time to go for a vacation in Bali?
          </div>
        </div>
        <div class="main-view-nav">
          <button data-modal-target="#postModal" class="postbtn">Post</button>
          <div class= "post-msg">Share your stories and experiences</div>
          <!-- <div id="postModal" class="modal-content-post">
            <div class="post-header">
              Add you story.(pictures/videos)
             <button data-close-button class="close-button">&times;</button>
            </div>
            <div class="postModal-body">
            </div>
          </div> -->
            <!-- <div id="overlaySec"></div> -->
        </div>
        <div class="mainview-container">
          <div class="mainView">
            This is the main view
        </div>
      </div>
      </div>
      <div class="extra-view">
        <div class="extra-view-container">
          another side view
          for special things
        </div>
      </div>
    </div>
  </body>
</html>
