<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  <%- include('partials/layer/head.ejs') %>
  </head>
  <body class="main-body">
      <div class="mainnav-bar">
        <a href="#">GlobalFriend.com</a>
        <input class="searchbar"type="text" name="search" value="" placeholder="Search tosses">
      </div>
      <div class="view">
       <div class="side-viewbar">
        <div class="sidenav">
          <button id="comments" type="button" name="button">Comments</button>
          <button class="events" type="button" name="button">Events</button>
          <button class="deals" type="button" name="button">Deals</button>
          <button class="travelcompanions" type="button" name="button">Travel companions</button>
        </div>
          <div class="sideView">
            <div class="commentsModal">
              <div class="saySomething">
                Comments and suggestions
              </div>
              <div class="commentsPrint">
                <div class="user">
                  @Edmond
                </div>
                <div class="commentsStruct">
                  comments are printed right here
                  16a085 hex color red value is 22, green value
                  is 160 and the blue value of its RGB is 133.
                  Cylindrical-coordinate representations
                  (also known as HSL) of color ...Notice we used position: fixed;.
                  The point of this is that a user could be s
                  crolled down the page, trigger a modal, and
                  have the modal be just as centered-and-visible a
                  s it would be if they weren’t scrolled.

                  I guess, in general, I’d consider fixed positioning fairly
                  safe these days, even on “mobile”.
                  But if you know you’re dealing with a pretty healthy
                  is 160 and the blue value of its RGB is 133.
                  Cylindrical-coordinate representations
                  (also known as HSL) of color ...Notice we used position: fixed;.
                  The point of this is that a user could be s
                  crolled down the page, trigger a modal, and
                  have the modal be just as centered-and-visible a
                  s it would be if they weren’t scrolled.
                  is 160 and the blue value of its RGB is 133.
                  Cylindrical-coordinate representations
                  (also known as HSL) of color ...Notice we used position: fixed;.
                  The point of this is that a user could be s
                  crolled down the page, trigger a modal, and
                  have the modal be just as centered-and-visible a
                  s it would be if they weren’t scrolled.


                </div>
              </div>
              <div class="commentsInputs">
                <input class="commentsInput"type="text" name="comment">
                <input class="submit-comment" type="submit" name="submit" value="post">
              </div>
            </div>

          </div>
      </div>
      <div class="main-view">
        <div class="main-view-nav">
          <div class= "post-msg">Share your stories</div>
          <a href="#">Post</a>
        </div>
        <div class="mainView">
          This is the main view
        </div>
      </div>
      <div class="extra-view">
        another side view
        for special things

      </div>
    </div>
  </body>
</html>
