<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <%- include('partials/layer/head.ejs') %>
  </head>
  <body>
    <div class="card-body">
      <div class="main-view">
        images and clips viewing
      </div>
      <div class="main-side-view">
        <div class="side-nav">
          <ul>
            <li>Comments</li>
            <li>Suggestions</li>
            <li>Events</li>
            <li>Deals</li>
          </ul>
        </div>
        <div class="side-view">
          viewing navs
        </div>
      </div>

    </div>
  </body>
</html>
