@import url('https://fonts.googleapis.com/css?family=Roboto:400,300,500');
*, *::after, *::before {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
*:focus {
  outline: none;
}

.web-name-navbar {
  position: sticky;
  top:0;
  left: 0;
  overflow:hidden;
  background-color: #16a085;
  height: 60px;
}
.inner-body>p{
  margin-left: 30px;
  padding:20px;
  font-size: 18px;
  font-style: oblique;
  color: #24D8E2;
}
.web-name {
  color: white;
  font-size: 130%;
  font-weight: 400;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 10px;

}
.message{
  margin-top: 5px;
  padding: 20px;
}
.message > p, .message>li{
  color:#16a085;
  font-size: 16px;
  padding: 2px;
}
.text-message > p {
  font-style: italic;
  font-size: 17px;
  color: #16a085;
  padding-top: 10px;
}

.signUpbody {
  padding: 0;
  font-size: 16px;
}

.signUp-title, .signIn-title {
  margin: 0 0 20px 0;
  font-weight: 400;
  font-size: 17px;
  color: #16a085;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}

input[class="auth-all"],
input[type="password"] {
  display: block;
  width: 100%;
  padding: 12px;
  border: 1px solid #16a085;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
}

input[class="auth-all"]:focus,
input[type="password"]:focus {
  border: none;
  border-bottom: 1px solid #16a085;
  color: #16a085;
  transition: 0.2s ease;
  padding: 12px 20px;
  cursor: pointer;
}

input[class="submit-auth"],
input[class="signIn-submit"]
 {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 120px;
  height: 32px;
  background: #16a085;
  border: none;
  text-decoration: none;
  border-radius: 2px;
  text-transform: uppercase;
  transition: 0.1s ease;
  color: white;
  padding: 12px 20px;
  cursor: pointer;
}
.submition-btn {
  display: block;
}
.signUp-submit {
  text-decoration: none;
  width: 120px;
  height: 32px;
  background: #16a085;
  border-radius: 2px;
  color:white;
  text-transform: uppercase;
  transition: 0.1s ease;
  padding: 8px 36px;
  font-size: 12px;
  cursor: pointer;
}

.container, .signUp-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  border-radius: 5px;
  padding: 20px;
  max-width: 500px;
  padding-left: 20px;
  padding-right: 20px;
}
/* line break */
.nav-bar {
  position: sticky;
  top:0;
  left: 0;
  width: 100%;
  overflow: hidden;
  margin-bottom: 15px;
  background-color: #16a085;
}
.mainnav-bar {
  position: sticky;
  top:0;
  left: 0;
  overflow:hidden;
  background-color: #16a085;
  height: 60px;
  margin-bottom: 20px;
}
.mainlinks {
  display: flex;
}
.main-home-webname{
  outline: none;
  text-decoration: none;
  color: white;
  font-size: 130%;
  font-weight: 400;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 15px;
  padding-right: 10px;
}
.web-name-cover{
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 10px;
}
.companyName {
  color: white;
  font-size: 130%;
  font-weight: 400;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 5px;
  text-decoration: none;
  outline: none;

}
.seachbar-top {
  width: 100%;
  padding-left:5px;
  padding-right:5px;
  margin-bottom: 10px;

}
.homeNav {
  width: 100%;
  padding: 5px;
  font-size: 15px;
  border:1px solid #16a085;
  border-radius: 10px;
  background: #f6fdfe;

}

.main-grid-view {
  display: grid;
  grid-template-columns: 200px auto 350px;
  width: auto;
}

.homelinks{
  position: sticky;
  top:85px;
  margin-left: 10px;
  height: 570px;
  border-right: 1px solid #16a085;
}
.homelink {
  background: #C0C0C0;
  border-right: 1px solid grey;
  border-radius: 3px;
}
.sideLinks > a{
  display: block;
  text-decoration: none;
  padding-left: 10px;
  padding-top: 30px;
  padding: 10px;
  font-size: 16px;
  color: black;
}
.view-toss-main {
  margin-right:2px;
}
.top-toss {
  width: auto;
  height: 50px;
  text-align: left;
  font-size: 20px;
  color:#16a085;
  padding-top: 3px;
  padding-left: 5px;
  padding-right: 5px;
  font-family: 'Roboto', sans-serif;
}

.comments, .events, .deals, .travelcompanions {
  font-size: 15px;
  font-weight: 300;
  text-decoration: none;
  background: #16a085;
  color: white;
  font-weight: 300;
  padding: 4px;
  border: 0;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  height: auto;
}
.myBtn {
  float: right;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  background: #16a085;
  color: white;
  font-weight: 300;
  padding: 5px;
  border: 0;
  font-family: 'Roboto', sans-serif;
}
.comments:hover, .events:hover,
.deals:hover, .travelcompanions:hover,
.myBtn:hover {
  cursor: pointer;
  background:#43734c;
}
.modal-header, .post-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #16a085;
}
.modal-header .close-button,
.events-header .close-button,
.deals-header .close-button,
.travel-header .close-button,
.post-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight:300;
}
.modal-header .close-button:hover,
.events-header .close-button:hover,
.deals-header .close-button:hover,
.travel-header .close-button,
.post-header .close-button:hover {
  color: grey;
}
.modal, .modal-content-post {
 position: fixed;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%) scale(0);
 transition: 200ms ease-in-out;
 border: 0;
 border-radius: 10px;
 z-index: 10;
 background-color: white;
 width: 600px;
 max-width: 90%;
 height: auto;
 margin-right: 20px;
}
.modal.active, .modal-content-post.active {
   transform: translate(-50%, -50%) scale(1);
}

.modal-content, .postModal-body {
  padding: 10px 15px;
}

#overlay, #overlaySec  {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.2);
  pointer-events: none;
}


#overlay.active, #overlaySec.active {
  opacity: 1;
  pointer-events: all;
}

.modal-content-events.active, .modal-content-deals.active,
.modal-content-travel.active {
   transform: translate(0, 0) scale(1);
}


.modal-content-events, .modal-content-deals, .modal-content-travel {
  position: fixed;
  top:120px;
  left:0;
  transform: translate(0, 0) scale(0);
  transition: 200ms ease-in-out;
  z-index: 10;
  border: 0;
  background-color: #fefefe;
  border-radius: 10px;
  margin-left: 10px;
  border-radius: 10px;
  width: 320px;
  height:530px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2),0 0 0 0 		rgba(0,0,0,0.20);

}
.events-header, .deals-header, .travel-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.tosses {
  padding: 15px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin-right: 2px;
  height: auto;
  color: #16a085;
  border-top: 1px solid #16a085;

}
.travelComps {
  margin-right: 50px;
  margin-left: 10px;
  border-radius: 10px;
  height: auto;
  background: #f4f0ec;
}
.travelC-containers {
  padding-left: 10px;
  padding-left: 10px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}
.prompt {
  color: #16a085;
}

/*mainInfo page*/
.view {
  display: grid;
  grid-template-columns: 340px auto 350px;
}
.side-viewbar {
  position:sticky;
  top:90px;
  margin: 10px;
  height: 550px;
}
.sidenav {
  position: sticky;
  top:10px;
  left: 0;
  display: grid;
  grid-template-columns:auto auto auto auto;
  border:0;
  border-radius: 4px;
  text-align: center;

}
.sideView {
  padding:2px;
  border-radius: 5px;
  margin-top: 5px;
}
.inputs-section {
  display: grid;
  grid-template-columns: auto 50px;
  border-radius: 5px;
}
.comments-input {
  padding:5px;
  border-bottom: 1px solid #16a085;
  border-right:none;
  border-top:none;
  border-left:none;
  text-align: justify;
  line-height: 1.5;
  font-size: .9rem;
  resize: none;

}
.comment-btn-submit {
  margin-left: 2px;
  border: 1px solid #16a085;
  background: white;
  border-radius: 10px;
}
.comment-btn-submit:hover {
  background:  #16a085;
  cursor:pointer;
}
.comment-header, .events-header, .deals-header, .travel-header {
  height: 30px;
  padding: 5px;
  font-size: 17px;
  color: #16a085;
  border: 0;
  border-bottom: 1px solid  #16a085;
  margin-bottom: 2px;
}
.comment-main-body {
  overflow: auto;
  height: 425px;
  margin-bottom: 10px;
  padding: 20px;
}
.comment-main-body::-webkit-scrollbar {
  width: 1px;
}
.comments-input::-webkit-scrollbar, .comments-input::-webkit-scrollbar-track {
  background:none;
  width: 3px;
  margin-right: 5px;
  padding-right: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.comments-prints {
  border-radius: 10px;
  background: #eef3f7;
  padding: 12px;
  margin-bottom: 10px;
  font-size: 14px;
}
.user {
  font-size: 15px;
  font-style: italic;
  padding: 5px;
}
.main-view {
  margin-left: 15px;
  margin-top:10px;
}
.main-view-nav{
  display: block;
  padding-top: 3px;
  padding-left: 5px;
  padding-right: 5px;
  border:0.5px solid #16a085;
  border-radius: 5px;
  padding-bottom: 7px;
}
.redirectedToss {
  display: block;
  border:0;
  padding-top: 3px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 7px;
  margin-bottom: 10px;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
  color: rgba(0,0,0,0,0);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2),0 0 0 0 		rgba(0,0,0,0.20);
}
.theReq {
  padding-top: 10px;
  color: #16a085;
}
.postbtn {
  float: right;
  font-size: 17px;
  text-decoration: none;
  background: #16a085;
  color: white;
  font-weight: 300;
  padding: 4px;
  width: 50px;
  border: 0;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-top: 5px;
}
.postbtn:hover {
  cursor: pointer
}
.post-msg {
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
  padding:5px;
  color: grey;
}
.mainView {
  margin-top: 10px;
  border: 1px solid #b4bfb5;
  color: #b4bfb5;
}
.extra-view {
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 10px;
  border-radius: 10px;
  height: auto;
  background: #f4f0ec;
  color: grey;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2),0 1px 1px 0 		rgba(0,0,0,0.19);
}
.extra-view-container {
  padding: 10px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}
.sidenav-res {
  display: none;
}

/*comments page*/
.comments-main-view {
  display: grid;
  grid-template-columns: auto auto auto auto;
}



@media only screen and (max-width: 1125px) {
   .side-viewbar,.extra-view, .homelinks, .travelComps {
    display: none;
  }
}
@media only screen and (max-width: 1125px) {
  .view, .main-grid-view  {
    display: grid;
    grid-template-columns: auto;
  }
  .main-view {
    margin-right:5px;
    margin-left: 5px;
  }
   .mainlinks>a  {
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 0;
  }

  .top-toss {
    width: auto;
  }
  .sidenav-res {
    display: grid;
    grid-template-columns:auto auto auto auto;
    width: auto;
    margin-top: 10px;
    border-radius: 4px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
  }
  .comments, .events, .deals, .travelcompanions {
    font-size: 15px;
    font-weight: 300;
    text-decoration: none;
    background: #16a085;
    color: white;
    font-weight: 300;
    padding: 7px;
    border: 0;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    height: auto;
  }
  .comments:hover, .events:hover, .deals:hover, .travelcompanions:hover, .myBtn:hover {
    cursor: pointer;
    background:#43734c;
  }
}
@media only screen and (max-width:310px) {
   .sidenav-res {
     display: none;
  }
}
