<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../partials/layer/head.ejs') %>
  </head>
  <body>
    <div class="side-view">
      look, here we are at it
      comments come below;
    </div>
  </body>
</html>
